<div class="container">
    <% content_for :title do %>Access Project<% end %>
  	<div class="row">
    	<h3>Access Project: <%= @project.name %></h3>
	</div>	
    <div class="form">
		<%= form_for(:session, url: login_path) do |f| %>
			<p><%= f.text_field :name, :placeholder => "Email" %></p>
			<% if @project && (not @project.project_type.name == 'current') %>
				<p><%= f.text_field :company_name, :placeholder => "Company Name" %></p>
			<% end %>
			<% if (@project && (not @project.project_type.name == 'open')) %>
				<p><%= f.password_field :password, :placeholder => "Password" %></p>
			<% end %>
			<p><%= f.submit "Access Project" %></p>
		<% end %>
	</div>
</div>