<div class="container">
    <% content_for :title do %>Access Project<% end %>
  	<div class="row">  	
    	<h3>Access Project<% if @project %>: <%= @project.name %><% end %></h3>
	</div>	
    <div class="form">
		<%= form_for(:session, url: login_path) do |f| %>
			<p><%= f.text_field :name, :placeholder => "Email" %></p>
			<% if @show_company_name %>
				<p><%= f.text_field :company_name, :placeholder => "Company Name" %></p>
			<% end %>
			<% if @show_password %>
				<p><%= f.password_field :password, :placeholder => "Password" %></p>
			<% end %>
			<p><%= f.submit "Access Project" %></p>
		<% end %>
	</div>
</div>