<div class="container">
  <div class="row">
    <% content_for :title do %>Projects<% end %>
    <h3>Projects</h3>
    <% if admin_user? %>
      <p><%= link_to 'New Project', new_project_path %></p>
    <% end %>
    <table class="table">
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <% if admin_user? %>
              <td><%= link_to project.name, edit_project_path(project) %></td>
            <% else %>          
              <td><%= link_to project.name, project_path(project) %></td>
            <% end %>
            <% if admin_user? %>            
              <td><%= project.project_type.name %></td>
            <% end %> 
            <td><%= project.bid_date_display %></td>
            <% if admin_user? %>            
              <td><%= project.dropbox_url %></td>
              <td><%= project.manager_name %></td>
              <td><%= project.project_email %></td>
            <% end %> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
