<!DOCTYPE html>
<html>
<head>
  <title>Planning Room : <%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="notice">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if session && session[:user] %>
  	<p>Current User: <%= session[:user]["name"] %>  <%= link_to 'Logout', logout_path %></p>
  <% end %>
  
  <%= yield %>
</div>

</body>
</html>
